<div class="container fill user-show">
  <% if @user == current_user %>
    <h1>Hello, <%= @user.first_name %></h1>
    <div class="profile-options">
      <%= link_to "Edit profile", edit_user_path(@user) %>
      <%= link_to "+ Teach a Class", new_user_lesson_path(current_user) %>
    </div>
  <% else %>
    <h1><%= user_full_name(@user) %></h1>
  <% end %>

  <!-- JS Tabs -->
  <ul class="lesson-tabs">
    <% if @user == current_user %>
    <li>
      <a href="javascript:rudrSwitchTab('tb_1', 'content_1');" id="tb_1" class="tabmenu active">Learning</a>
    </li>
    <% end %>
    <li>
      <a href="javascript:rudrSwitchTab('tb_2', 'content_2');" id="tb_2" class="tabmenu">Teaching</a>
    </li>
    <% if @user == current_user %>
    <% end %>
  </ul>

  <!-- sort user lessons by time, reverse order  -->
  <% if @user == current_user %>
  <div id="content_1" class="tabcontent">
    <% sublist = Lesson.studied_by(@user).future.order(time: :asc) %>
    <% unless sublist.empty? %>
      <p>Upcoming</p>
      <% sublist.each do |lesson| %>
        <%= render 'lessons/card', lesson: lesson %>
      <% end %>
    <% end %>

    <% sublist = Lesson.studied_by(@user).past.order(time: :desc) %>
    <% unless sublist.empty? %>
      <p>Past</p>
      <% sublist.each do |lesson| %>
        <div class="faded">
          <%= render 'lessons/card', lesson: lesson %>
        </div>
      <% end %>
    <% end %>
  </div>
  <% end %>

  <div id="content_2" class="tabcontent"
    <%= @user == current_user ? 'style="display:none;"' : '' %>
  >
    <% sublist = Lesson.taught_by(@user).future.order(time: :asc) %>
    <% unless sublist.empty? %>
      <p>Upcoming</p>
      <% sublist.each do |lesson| %>
        <%= render 'lessons/card', lesson: lesson %>
      <% end %>
    <% end %>

    <% sublist = Lesson.taught_by(@user).past.order(time: :desc) %>
    <% unless sublist.empty? %>
      <p>Past</p>
      <% sublist.each do |lesson| %>
        <div class="faded">
          <%= render 'lessons/card', lesson: lesson %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
// initial click
<% if @user == current_user %>
  rudrSwitchTab('tb_1', 'content_1');
<% else %>
  rudrSwitchTab('tb_2', 'content_2');
<% end %>

//tab function
function rudrSwitchTab(rudr_tab_id, rudr_tab_content) {
  var x = document.getElementsByClassName("tabcontent");
  var i;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = 'none';
  }
  document.getElementById(rudr_tab_content).style.display = 'block';
  var x = document.getElementsByClassName("tabmenu");
  var i;
  for (i = 0; i < x.length; i++) {
    x[i].className = 'tabmenu';
  }
  document.getElementById(rudr_tab_id).className = 'tabmenu active';
}
</script>









