<div class="container fill pt-3">
  <% if @user == current_user %>
    <h1>Hello, <%= @user.first_name %></h1>
    <% article = "My" %>
  <% else %>
    <h1><%= user_full_name(@user) %></h1>
    <% article = "Their" %>
  <% end %>

  <!-- sort user lessons by time, reverse order  -->
  <% if @user == current_user %>

    <h4 class="pt-3 pb-3"><%= article %> Bookings</h4>

    <p><%= article %> Upcoming Bookings</p>
    <% @user.bookings.sort_by { |booking| booking.lesson[:time] }.reverse.each do |booking| %>
      <% if booking.lesson.time.to_f > Time.now.to_f %>
            <%= render 'lessons/card', lesson: booking.lesson %>
      <% end %>
    <% end %>

    <p><%= article %> Past Bookings</p>
    <% @user.bookings.sort_by { |booking| booking.lesson[:time] }.reverse.each do |booking| %>
        <% if booking.lesson.time.to_f < Time.now.to_f %>
          <%= render 'lessons/card', lesson: booking.lesson %>
        <% end %>
    <% end %>

  <% end %>
  
  <h4 class="pt-3 pb-3"><%= article %> Teachings</h4>

  <p><%= article %> Upcoming Teachings</p>
  <% @user.lessons_as_teacher.order(time: :asc).each do |lesson| %>
    <% if lesson.time.to_f > Time.now.to_f %>
          <%= render 'lessons/card', lesson: lesson %>
    <% end %>
  <% end %>

  <p><%= article %> Past Teachings</p>
  <% @user.lessons_as_teacher.order(time: :desc).each do |lesson| %>
    <% if lesson.time.to_f < Time.now.to_f %>
          <%= render 'lessons/card', lesson: lesson %>
    <% end %>
  <% end %>


</div>
