<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="navbar-left">
    <%= image_tag("edumate-logo.png", class: "nav-logo") %>
    <%= link_to "/" do %>
      <h1 id="navbar-edumate-name">Edumate</h1>
    <% end %>
    <div class="home-search">
      <%= form_tag lessons_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "nav-search-bar" %>
        <%= button_tag type: "submit", class: "nav-submit-button" do  %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="nav-links">
    <%= link_to "All Lessons", lessons_path %>
    <% if current_user %>
      <%= link_to "My Profile", user_path(current_user.id) %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</div>
<%= image_submit_tag("agree.png", :id => "agree", :name => "agree", :class => "agree-button", :disabled => false) %>
