<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/" do %>
    <h1 id="navbar-edumate-name">Edumate</h1>
  <% end %>
  <div id="nav-links">
    <%= link_to "All Lessons", lessons_path %>
    <% if current_user %>
      <%= link_to "My Profile", user_path(current_user.id) %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    </div>
</div>
