<div class="banner">
  <div class="container">
    <div class="banner-content">
      <h1>Welcome to Edumate</h1>
      <p class="text-yellow">Learn what you love</p>
      <div class="home-search">
        <%= form_tag lessons_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search-bar" %>
          <%= button_tag type: "submit", class: "submit-button" do  %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="body-section">
  <div class="container feature-section">
    <div class="feature">
      <i class="fas icons fa-chalkboard-teacher"></i>
      <p>Get connected with experts in the topics that you care about the most.</p>
    </div>
    <div class="feature">
      <i class="fas icons fa-map-marked-alt"></i>
      <p>Take lessons from right in your own neighborhood or as far as you're willing to travel.</p>
    </div>
    <div class="feature">
      <i class="fas icons fa-users">
      </i>
      <p>Be the expert! Host your own classes and find students interested in your knowledge.</p>
    </div>
  </div>
  <div class="recommended-classes text-left pt-5">
    <div class="container">
      <h1 class="text-white">Top lessons in Tokyo</h1>

        <div class ="small-lessons-cards d-flex justify-content-center p-5">
          <% @lessons.first(3).each do |lesson| %>
            <div class="small-card-lesson">
              <% if lesson.photo.attached? %>
                <%= cl_image_tag lesson.photo.key, crop: :fill, alt: lesson.title %>
              <% else %>
                <%= image_tag "lesson_placeholder.png", alt: lesson.title %>
              <% end %>
              <div class="small-card-lesson-infos">
                <h4><%= link_to lesson.title, lesson_path(lesson) %></h4>
                <p><%= lesson.time.strftime("%d %B ") %></p>
                <p><%= lesson.location %></p>
                <div class="yellow-cta">
                  <%= link_to "See More", lesson_path(lesson) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>

