<div class="card-lesson my-3">
  <div class="card-image">
    <% if lesson.photo.attached? %>
      <%= cl_image_tag lesson.photo.key, crop: :fill, alt: lesson.title %>
    <% else %>
      <%= image_tag "lesson_placeholder.png", alt: lesson.title %>
    <% end %>
    <div class="card-overlay">
      <% if user_signed_in? && lesson.studied_by?(current_user) %>
        <i class="fas fa-graduation-cap"></i>
      <% elsif user_signed_in? && lesson.taught_by?(current_user) %>
        <i class="fas fa-chalkboard-teacher"></i>
      <% end %>
    </div>
  </div>
  <div class="card-lesson-infos">
      <div class="card-lesson-infos-left">
        <h4><%= link_to lesson.title, lesson_path(lesson) %></h4>
        <p><%= lesson.topic %></p>
        <p>by <%= link_to user_full_name(lesson.user), user_path(lesson.user) %></p>
      </div>
      <div class="card-lesson-infos-right">
        <p><i class="far card-icon fa-clock"></i><%= lesson.time.strftime("%I:%M %p") %></p>
        <p><i class="far card-icon fa-calendar-plus"></i><%= lesson.time.strftime("%A, %d %B ") %></p>
        <p><i class="fas card-icon fa-map-marker-alt"></i><%= lesson.location %></p>
      </div>
    </div>
</div>
