<div class="card-lesson my-3">
  <% if lesson.photo.file %>
    <%= cl_image_tag lesson.photo, crop: :fill, alt: lesson.title %>
  <% else %>
    <%= image_tag "lesson_placeholder.png", alt: lesson.title %>
  <% end %>
  <div class="card-lesson-infos">
      <div class="card-lesson-infos-left">
        <h4><%= link_to lesson.title, lesson_path(lesson) %></h4>
        <p><%= lesson.topic %></p>
        <p>by <%= link_to user_full_name(lesson.user), user_path(lesson.user) %></p>
      </div>
      <div class="card-lesson-infos-right">
        <p><strong><%= lesson.time.strftime("%I:%M %p") %></strong></p>
        <p><%= lesson.time.strftime("%A, %d %B ") %></p>
        <p><%= lesson.location %></p>
      </div>
    </div>
</div>
