<div class="card-lesson my-3">
  <% if lesson.photo.nil? %>
    <% photo = "lesson_placeholder.png" %>
  <% else %>
    <% photo = lesson.photo %>
  <% end %>
  <%= image_tag photo, alt: lesson.title %>
  <div class="card-lesson-infos">
      <div class="card-lesson-infos-left">
        <h4><%= link_to lesson.title, lesson_path(lesson) %></h4>
        <p><%= lesson.topic %></p>
        <p><%= link_to lesson.user.full_name, user_path(lesson.user) %></p>
      </div>
      <div class="card-lesson-infos-right">
        <p><%= lesson.time %></p>
        <p><%= lesson.location %></p>
      </div>
    </div>
</div>
