<div class="container fill lesson-show-container">
  <div class="lesson-flex-box"/>
    <div class="lesson-image">
      <% if @lesson.photo.file %>
        <%= cl_image_tag @lesson.photo, crop: :fill, alt: @lesson.title %>
      <% else %>
        <%= image_tag "lesson_placeholder.png", alt: @lesson.title %>
      <% end %>
      <% if @lesson.description %>
        <p><%= @lesson.description %></p>
      <% end %>
    </div>
    <div class="lesson-desc">
      <h1><%= @lesson.title %></h1>
      <h2><%= @lesson.topic %></h2>
      <h2><%= @lesson.time.strftime("%I:%M %p") %></h2>
      <h2><%= @lesson.time.strftime("%A, %d %B ")%></h2>
      <h2><%= @lesson.location %></h2>

      <% if user_signed_in? && @lesson.taught_by?(current_user) %>
        <h2>Students:</h2>
        <ul>
          <% @lesson.students.each do |student| %>
            <li><%= user_full_name(student) %></li>
          <% end %>
        </ul>
      <% else %>
        <h2><%= @lesson.students.count %> student(s) attending</h2>
      <% end %>

      <div class="lesson-creator-box">
        <% if @lesson.photo.file %>
          <%= cl_image_tag @lesson.user.photo, crop: :fill, alt: user_full_name(@lesson.user), class: "lesson-avatar" %>
        <% else %>
          <%= image_tag "user_placeholder.png", alt: user_full_name(@lesson.user), class: "lesson-avatar" %>
        <% end %>
        <h3><%= link_to user_full_name(@lesson.user), user_path(@lesson.user) %></h3>
      </div>
      <h1 class="lesson-desc-price">3,000 JPY</h1>
       <!-- if past, expired; if teaching, edit; if bookable, book; if booked, cancel -->
      <% if @lesson.past? %>
        <div class="book-lesson-btn">Past Lesson</div>
      <% elsif user_signed_in? && @lesson.taught_by?(current_user) %>
        <%= link_to "edit", edit_lesson_path(@lesson), class: "book-lesson-btn" %>
      <% elsif user_signed_in? && @lesson.studied_by?(current_user) %>
        <div class="book-lesson-btn">Booked</div>
      <% else %>
        <%= simple_form_for [@lesson, @booking] do |b| %>
          <%= b.submit "Book now", :class => "book-lesson-btn" %>
        <% end %>
      <% end %>
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
