<div class="container fill lesson-show-container">
  <div class="lesson-flex-box"/>
    <div class="lesson-image">
      <% if @lesson.photo.file %>
        <%= cl_image_tag @lesson.photo, crop: :fill, alt: @lesson.title %>
      <% else %>
        <%= image_tag "lesson_placeholder.png", alt: @lesson.title %>
      <% end %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    </div>
    <div class="lesson-desc">
      <h1><%= @lesson.title %></h1>
      <h2><%= @lesson.topic %></h2>
      <h2><%= @lesson.time.strftime("%A, %d %B ")%></h2>
      <h2><%= @lesson.time.strftime("%I:%M %p") %></h2>
      <h2><%= @lesson.location %></h2>
      <div class="lesson-creator-box">
        <% if @lesson.photo.file %>
          <%= cl_image_tag @lesson.user.photo, crop: :fill, alt: user_full_name(@lesson.user), class: "lesson-avatar" %>
        <% else %>
          <%= image_tag "user_placeholder.png", alt: user_full_name(@lesson.user), class: "lesson-avatar" %>
        <% end %>
        <h3><%= link_to user_full_name(@lesson.user), user_path(@lesson.user) %></h3>
      </div>
      <h1 class="lesson-desc-price">3,000 JPY</h1>
       <!-- if user not logged in, booking -->
        <%= simple_form_for [@lesson, @booking] do |b| %>
          <% if @booked %>
            <%= b.submit "Booked", :class => "book-lesson-btn", disabled: true %>
           <% else %>
            <%= b.submit "Book now", :class => "book-lesson-btn" %>
          <% end %>
        <% end %>
      <div
        id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
</div>
